apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratemybeer-frontend

spec:
  replicas: 1

  template:

    spec:
      containers:
        - name: ratemybeer-frontend
          image: thinkexception.azurecr.io/frontend:<Tag>
          
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
          
