@page "/CheckinDetails/{CheckinId:guid}"
@using Microsoft.Extensions.Configuration
@using Lab.RateMyBeer.Frontend.Contracts.Checkins.ViewModels
@using Lab.RateMyBeer.Frontend.Contracts.Checkins.ViewModels.CheckinDetails
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment HostEnvironment


<h3>CheckinDetails</h3>

@if (checkin == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <h1>@checkin.Checkin.BeerName</h1>
    
}

@code {
    [Parameter]
    public Guid CheckinId { get; set; }
    
    private CheckinDetailsViewModel checkin;

    protected override async Task OnInitializedAsync()
    {
        var checkinDetialsUrl = $"{Api.BaseUrl(Configuration, HostEnvironment.Environment)}/{CheckinId.ToString()}";
        checkin = await Http.GetFromJsonAsync<CheckinDetailsViewModel>(checkinDetialsUrl);
    }
}