@page "/CommentCheckin/{CheckinId:guid}"
@using System.Net
@using Lab.RateMyBeer.Frontend.Contracts.Checkins.Commands
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.Extensions.Configuration

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment HostEnvironment


<h3>CommentCheckin</h3>

Kommentar: 
<input @bind="Comment"/> <br/>

<button @onclick="SaveComment">Speichern</button>

@code {
    [Parameter]
    public Guid CheckinId { get; set; }
    
    private string Comment { get; set; }
    
    private void SaveComment()
    {
        var checkinListUrl = Api.BaseUrl(Configuration, HostEnvironment.Environment);
        Http.PostAsJsonAsync($"{checkinListUrl}/comments", new CommentCheckinCommandViewModel(
            CheckinId: this.CheckinId,
            Comment: this.Comment
        ));
    }
}