@page "/CommentCheckin/{CheckinId}"
@using System.Net
@using Lab.RateMyBeer.Frontend.Contracts.Checkins.Commands
@using Microsoft.Extensions.Configuration

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

<h3>CommentCheckin</h3>

Kommentar: 
<input bind="Comment"/> <br/>

<button @onclick="SaveComment">Speichern</button>

@code {
    [Parameter]
    public Guid CheckinId { get; set; }
    
    private string Comment { get; set; }
    
    private void SaveComment()
    {
        var checkinListUrl = Configuration["Dependencies:APIs:CheckinsApiBaseUrl"];
        Http.PostAsJsonAsync(checkinListUrl, new CommentCheckinCommandViewModel(
            CheckinId: this.CheckinId,
            Comment: this.Comment
        ));
    }
}