@page "/createCheckin"
@using Contracts.Checkins.ViewModels
@using Microsoft.Extensions.Configuration
@using Lab.RateMyBeer.Frontend.Contracts.Checkins.Commands

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

<h1>Neuer Checkins</h1>

Bier Name:
<input @bind="BeerName">

<br/>

<button @onclick="SaveCheckin">Speichern</button>

@code {

    private string BeerName { get; set; }

    private void SaveCheckin()
    {
        var checkinListUrl = Configuration["Dependencies:APIs:CheckinsApiBaseUrl"];
        Http.PostAsJsonAsync(checkinListUrl, new CreateCheckinCommandViewModel()
        {
            BeerName = this.BeerName
        });
    }
}