- op: replace
  path: /metadata/annotations/cert-manager.io~1issuer
  value: "letsencrypt-staging-http-issuer"

- op: replace
  path: /spec/tls/0/hosts/0
  value: "ratemybeer-<Version>.westeurope.cloudapp.azure.com"

- op: replace
  path: /spec/rules/0/host
  value: "ratemybeer-<Version>.westeurope.cloudapp.azure.com"
