apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratemybeer-comments

spec:
  replicas: 1

  template:

    spec:
      containers:
        - name: ratemybeer-comments
          image: thinkexception.azurecr.io/commentsapi:<Tag>
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
          
